body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App-header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.sectionLogo {
  width: 50vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionForm {
  width: 50vw;
  height: 100vh;
  background-color: #0000007d;
  color: #000000;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fondoForm {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.sectionLogo img {
  width: 400px;
  height: 300;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

input[type="text"],
input[type="password"],
button {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
}

input[type="text"],
input[type="password"] {
  font-size: 16px;
}

button {
  background-color: #000000;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4714df;
}

a {
  text-align: center;
  text-decoration: none;
  color: #1877f2;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.create-account-btn {
  background-color: #4714df;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-account-btn:hover {
  background-color: #000000;
}
