.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100px;
  height: 100vh;
  background-color: #000000;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Ocupa todo el espacio restante */
  justify-content: center; /* Centra verticalmente los elementos */
}

.sidebar nav ul li {
  margin-bottom: 10px;
}

.sidebar nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex; /* Alinea los elementos verticalmente */
  align-items: center; /* Centra verticalmente los elementos */
  transition: 0.5s ease;
}

.sidebar nav ul li a:hover {
  color: #1bb7eb;
  scale: 1.5;
  transition: 0.5s ease;
}

.material-icons {
  font-size: 30px;
  margin-right: 10px;
}

.main {
  margin-left: 200px;
  padding: 30px;
}

.container {
  padding: 20px;
}

.post {
  margin-bottom: 30px;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.App-logo1 {
  width: 200px;
}

.encabezado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.publicaciones {
  margin-bottom: 30px;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.contenidoSuperior {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: left;
  padding: 10px;
  border-bottom: #ababab solid;
}

.fotoperfil {
  width: 70px;
  height: 90px;
  border: #000000 solid;
  border-radius: 50%;
}

.BtnSeguir a {
  color: #1bb7eb;
  transition: color 0.5s ease;
}

.BtnSeguir a:hover {
  color: #000000;
  transition: color 0.5s ease;
}

.contenidoInferior {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.contenidoInferior img {
  width: 350px;
  height: auto;
}

.historias {
  display: flex;
  gap: 20px;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
}

/* Estilos para la barra de desplazamiento */
.historias::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

.historias::-webkit-scrollbar-track {
  background: #f3f3f3;
}

.historias::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 5px;
}

.fotohistoria {
  width: 70px;
  height: 90px;
  border: #24acb8 solid 5px;
  border-radius: 50%;
  transition: 0.5s ease;
}

.fotohistoria:hover {
  scale: 1.2;
  transition: 0.5s ease;
}
