.sidebar {
  position: fixed;
  height: 100%;
  background-color: #000000;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-opciones {
  display: flex;
  transform: translateY(50%);
  flex-direction: column;
  align-items: center;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.sidebar nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex; /* Alinea los elementos verticalmente */
  justify-content: center;
  transition: 0.5s ease;
}

.sidebar nav ul li a:hover {
  color: #1bb7eb;
  scale: 1.5;
}

.material-icons {
  font-size: 30px;
}

.main {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  padding: 20px;
  margin-left: 125px; /* Ajuste el margen izquierdo para dejar espacio para el menú */
}

.cuerpo {
  width: 100%;
}

.post {
  margin-bottom: 30px;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.App-logo1 {
  width: 200px;
}

.encabezado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.publicaciones {
  margin-left: 5px;
  margin-bottom: 30px;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.contenidoSuperior {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: left;
  padding: 10px;
  border-bottom: #ababab solid;
}

.fotoperfil {
  width: 70px;
  height: 90px;
  border: #000000 solid;
  border-radius: 50%;
}

.BtnSeguir a {
  color: #1bb7eb;
  transition: color 0.5s ease;
}

.BtnSeguir a:hover {
  color: #000000;
  transition: color 0.5s ease;
}

.contenidoInferior {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.contenidoInferior img {
  width: 350px;
  height: auto;
}

.historias {
  display: flex;
  gap: 20px;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
}

/* Estilos para la barra de desplazamiento */
.historias::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

.historias::-webkit-scrollbar-track {
  background: #f3f3f3;
}

.historias::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 5px;
}

.fotohistoria {
  width: 70px;
  height: 90px;
  border: #24acb8 solid 5px;
  border-radius: 50%;
  transition: 0.5s ease;
}

.fotohistoria:hover {
  scale: 1.2;
}

.logoBlanco {
  width: 125px;
}
/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .container{
    margin-top: 150px !important;
    margin: 0;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-opciones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translateY(2%);
  }

  .sidebar nav ul {
    display: flex;
    flex-direction: row;
  }

  .sidebar nav ul li {
    margin-bottom: 0;
  }

  .main {
    padding: 10px;
  }

  .cuerpo {
    flex-direction: column;
    align-items: center;
  }

  .encabezado {
    flex-direction: column;
    align-items: center;
  }

  .publicaciones {
    padding: 10px;
  }

  .contenidoSuperior {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .fotoperfil {
    width: 50px;
    height: 50px;
  }

  .historias {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
  }

  .fotohistoria {
    width: 50px;
    height: 50px;
  }
}
